*{box-sizing: border-box;}
.header,.footer{
    background-color: darkseagreen;
    padding: 20px;color: white;
    text-align: center;
    text-shadow: 3px 4px 4px rgb(248, 98, 98);
    font:normal small-caps bold 60px/40px 'Kumar One', cursive;

}
.nav{
    float:left;width: 20%;padding:0px;margin-top: -16px;
}
ul{float:left;clear:left;width:100%;padding: 2px;}
ul li{background-color: wheat;padding:15px;margin:10px 0px;border-radius: 10px;text-align: center;font-size: 25px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif}
ul li:hover{background-color: rgb(207, 186, 147);}
.content{float: left;width: 80%;padding:10px;text-align: justify;font-size: 25px;font-family: 'Times New Roman', Times, serif;}
.active{background-color: salmon;}
