*{box-sizing: border-box;}
body{padding: 0px;}
.header{
    background-color: darkseagreen;
    padding: 20px;color: white;
    text-align: center;
    text-shadow: 3px 4px 4px rgb(248, 98, 98);
    font:normal small-caps bold 60px/40px 'Kumar One', cursive;
    position: sticky; top:0px;

}
.footer{
    background-color: rgb(116, 153, 116);
    padding: 10px;color: white;
    text-align: center;
    
    font:normal normal bold 30px/20px 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav{
    float:none;width: auto;padding:0px;position: sticky;top: 38px;
}
ul{width:100%;background-color:rgb(255, 255, 255);list-style-type: none;padding-left: 0px;padding-top: 0px;border-radius: 12px;}
ul li{background-color: wheat;padding:15px;margin:10px 0px;border-radius: 10px;text-align: center;font-size: 25px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif}
ul li:hover{background-color: rgb(207, 186, 147);}
.content{float: left;width: 80%;padding:10px;text-align: justify;font-size: 25px;font-family: 'Times New Roman', Times, serif;}
.active{background-color: salmon;}
@media screen and (min-width:850px) {
    .nav {float: left;width: 20%;}
    
}
